body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  header {
    background-color: #007acc;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px 0;
  }
  
  nav ul li a {
    color: rgb(248, 184, 9);
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  section {
    padding: 40px;
    text-align: center;
  }
  
  .gallery-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .gallery-container img {
    width: 150px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  form {
    display: inline-block;
    text-align: left;
    max-width: 400px;
    width: 100%;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0092f3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  
  footer {
    background-color: #ff3a3a;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
  }